[submodule "org-books"]
	path = org-books
	url = https://github.com/lepisma/org-books.git
[submodule "tufte-org-mode"]
	path = tufte-org-mode
	url = https://github.com/tsdye/tufte-org-mode.git
[submodule "org-wiki"]
	path = org-wiki
	url = https://github.com/caiorss/org-wiki
[submodule "org-drill-table"]
	path = org-drill-table
	url = https://github.com/chrisbarrett/org-drill-table.git
