usersavehist
auto-save-list/
.org-id-locations
webpage-bookmarklets

user/*
/webpage-bookmarklet
/.cask/25.3/bootstrap/archives/gnu/archive-contents
/.cask/25.3/bootstrap/archives/gnu/archive-contents.signed
